@import url("https://fonts.googleapis.com/css?family=Abel");

/* Varaibles */
:root {
  --primary-color: #252529;
  /* --secondary-color: #bbcad2; */
  --secondary-color: #c3eefb;
  --background-color: rgba(37, 37, 41, 0.8);
  /* --secondary-background-color: rgba(187, 202, 210, 0.8); */
  --secondary-background-color: rgba(195, 238, 251, 0.8npm);
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body {
  font-family: "Abel", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}

.content {
  padding: 5vw;
  min-height: 100vh;
}

.content .title .sub-title {
  margin-left: 2vw;
  font-size: 2.5rem;
}

/* Nav */

nav {
  background: #bf373e;
  color: var(--primary-color);
}

nav .nav-wrapper {
  margin: 0 5vw;
  color: var(--primary-color);
}

nav .nav-wrapper a {
  color: var(--primary-color);
  font-size: 1.6rem;
}

/* Landing Area */

.landing-zone {
  background: url("../img/background00.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: var(--secondary-color);
}
.name {
  margin-top: 40vh;
}

.name h1 {
  font-weight: 400;
  font-size: 5.7rem;
  margin-bottom: 0;
}
.title.name {
  background-color: rgba(37, 37, 41, 0.8);
  padding: 20px 15px;
}
.title.name .sub-title {
  font-size: 2.8rem;
  margin-top: 0.5vh;
  color: var(--third-color);
}

.title.name-small-display {
  margin-top: 60vh;
  display: inline-block;
  background: var(--background-color);
}

.title.name-small-display h1 {
  display: inline-block;
}
.title.name-small-display p {
  margin-left: 5vw;
  display: inline-block;
}

/* About Me */
.about-me {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.about-me .content .row img {
  padding: 0;
}

.row img {
  border-radius: 50%;
  padding: 0;
}

.about-me .row .card {
  padding: 1vw;
}

.bio {
  margin: 2vw;
  font-size: 1.5rem;
}

/* Portfolio */
.portfolio {
  background: var(--primary-color);
  color: var(--secondary-color);
}

div.social-media-links a {
  display: inline-block;
  margin: auto 0;
  padding: 2px;
}

/* All Project Styling */
.card .card-image span.card-title {
  background-color: var(--background-color);
  padding: 2px;
  width: auto;
  padding-right: 2vw;
  margin-bottom: 15px;
}

.col .card .card-content {
  margin-bottom: 5vh;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.col .card .card-content p {
  margin-bottom: 0;
}

.col .card .card-content ul {
  margin-top: 0;
  margin-bottom: 1vw;
}

.col .card .card-content ul li {
  margin-left: 2vw;
  margin-top: 0;
}

.col .card .divider {
  color: #000;
}

/* Contact */
.contact {
  background: url("../img/lemur01.jpg");
  background-size: cover;
  color: var(--primary-color);
}

.title.name {
  background-color: rgba(37, 37, 41, 0.8);
  width: 550px;
  padding: 20px 20px;
}

div.contact div.contactInfo {
  background-color: rgba(37, 37, 41, 0.8);
  width: 30vw;
  min-width: 300px;
  padding: 20px;
  height: 24vh;
  min-height: 250px;
  color: var(--secondary-color);
}

.contact {
  height: 130vh;
}

.contact .title {
  font-size: 1.8rem;
  background: var(--secondary-color);
  margin: 0;
  padding-top: 1vw;
  padding-left: 5vw;
}

.contact .title p {
  margin-left: 5vw;
}

.contact .title h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.contactInfoText {
  font-size: 1.8rem;
}

.contact .title .divider {
  background-color: var(--primary-color);
}

/* Footer */
footer .row {
  margin: 0;
  background: var(--primary-color);
}
.footer-section {
  border-top: 3px solid var(--primary-color);
  margin-bottom: 0;
  padding: 0;
}

.contactInfoFooter {
  color: var(--secondary-color);
  text-align: center;
}

.contactInfoFooter ul li a {
  margin-bottom: 8px;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

footer .footerBox .contactInfoFooter p {
  font-size: 1.6rem;
}

.footerBox .contactInfoFooter h5 {
  size: 2rem;
}

/* Media Queries */

@media (max-width: 900px) {
  .contact {
    background: url("../img/lemur01-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact .content .title p {
    color: var(--primary-color);
  }

  .contact .content .title h1 {
    color: var(--primary-color);
  }

  .contact .content .title {
    background-color: var(--secondary-background-color);
  }

  .landing-zone {
    background: url("../img/background00-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #me .content {
    min-height: none;
    max-height: 30vh;
    padding: 0 auto;
  }
}

@media (max-width: 500px) {
  .contact {
    background: var(--secondary-color);
  }

  #contact .content .row .col .s12 {
    background: var(--background-color);
  }

  .contact .content .title p {
    color: var(--primary-color);
  }

  .contact .content .title h1 {
    background: var(--secondary-color);
  }

  div.content div.contactInfo {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 3rem;
  }

  div.content div.contactInfo .row p {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 1vh;
  }

  .landing-zone {
    background: var(--primary-color);
  }

  div.contact div.contactInfo {
    width: auto;
  }

  .contact {
    height: 100vh;
  }

  div.content div.contactInfo .row p {
    margin-top: 0;
    margin-left: -20px;
  }
}
